*{
    margin: 0;
    padding: 0;
}
html,body{
    font-size: 20px;
}
.nav{
    width: 26.67rem;
    position: relative;

}
.t1{
    width: 26.67rem;
    height: 27rem;
    background: no-repeat;
    background-image: url("../img/11.png");
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;
}
.t1 img:nth-child(1){
    width: 15rem;
    position: absolute;
    left: 6rem;
    top: 21.5rem;
}
.nav img:nth-child(2){
    width: 8rem;
    position: absolute;
    left: 9.5rem;
    top: 24rem;
    z-index: 1;
}
.t2{
      width: 26.67rem;
    height: 39rem;
    background: no-repeat;
    background-image: url("../img/12.png");
    background-size: 100% 100%;
    /*overflow: hidden;*/
    position: relative;
}
.t3{
      width: 26.67rem;
    height: 39rem;
    background: no-repeat;
    background-image: url("../img/13.png");
    background-size: 100% 100%;
    /*overflow: hidden;*/
    position: relative;
}
.t3 img{
    width: 18rem;
    margin-left: 4.5rem;
    margin-top: 20rem;
    animation:ro 2s 0s linear infinite ;
}
.t4{
      width: 26.67rem;
    height: 72rem;
    background: no-repeat;
    background-image: url("../img/14.png");
    background-size: 100% 100%;
    /*overflow: hidden;*/
    position: relative;
}
.t5{
      width: 26.67rem;
    height: 34.57rem;
    background: no-repeat;
    background-image: url("../img/16.png");
    background-size: 100% 100%;
    /*overflow: hidden;*/
    position: relative;
}
@keyframes ro {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}