.body{
    max-width: 1200px;
    min-width: 320px;
    width: 93%;
    margin: 0 auto;
}
.body .img img{
    width: 100%;
}
@media only screen and (max-width: 900px){
    .body{
        width: 96%;
    }
}

.body p {
    font-size: 0.8rem;
    color: #666;
    text-indent: 1.5em;
    line-height: 1.2rem;
    padding: 15px 0;
    border-top: 1px solid rgb(232,232,232);
    border-bottom:1px solid rgb(232,232,232);
    margin-top: 30px;
}
@media only screen and (max-width: 640px){
    .body p{
        margin: 10px 0;
        font-size: 0.7rem;
        line-height: 0.8rem;
        padding: 2.3% 0;
    }
    .model h3{
        font-size: 1rem;
    }
    .model span{
        font-size: 0.6rem;
    }
    .model .txt{
        font-size: 0.6rem;
    }
}
@media only screen and (min-width: 900px){
    .body p{
        margin-top: 10px;
        font-size: 1rem;
        line-height: 1.5rem;
    }
}
.logos{
    text-align: center;
}
.logos img{
    width: 4.8%;
    margin: 0 0.9%;
    min-width: 35px;
}

.models{
    overflow: hidden;
}
/*body中models外观*/

.models .model{
    float: left;
    display: block;
    width: 32%;
        text-align: center;
}

.model .img{
    position: relative;
    font-size: 0;
    color: white;

}
.model .img .mask{
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    transition: all 0.5s;
    opacity: 0;
}
.model:hover .img .mask{
    opacity: 1;
}
.model .img .mask h3{
    font-size:1.5rem;
    font-weight: 400;
    margin-top: 17%;
}
.model .img .mask span{
    font-size: 0.7rem;
}
.model .txt{
    font-size: 0.8rem;
    color: #666;
    background: #ffffff;
    padding: 7px 0;
    border-radius: 0 0 5px 5px;
     box-shadow: 1px 0 4px rgba(0,0,0,0.3);
}
.model img, .model .mask{
    border-radius:5px 5px 0 0;
}
.model .img img{
        box-shadow: 2px 0 4px rgba(0,0,0,0.5);
}
.model:nth-child(3n-1){
    margin: 1% 2%;
}
.model{
    margin: 1.75% 0;
}
@media only screen and (max-width: 600px){
    .models .model{
        width: 48.25%;
        margin:1.75% 0;
    }
    .models .model:nth-child(2n){
        margin-left: 3.5%;
    }
}