*{
    margin: 0;
    padding: 0;
}
body{
    /*开启3d渲染*/
    transform-style: preserve-3d;
    perspective: 400px;
    perspective-origin: 50% center;
}
.head{
    position: relative;
    margin: 100px auto;
    width: 900px;
}
.a{
    transform-style: preserve-3d;
    opacity: 0.5;
    background-color: black;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: absolute;
    top: 100px;
    left: 450px;

}
/*.a img{*/
    /*margin: 100px auto;*/
/*}*/
.a:nth-child(1){
     opacity: 0.5;
     transform-origin: left;
    transform: rotateY(-90deg);
}
.a:nth-child(2){
     opacity: 0.5;
    transform-origin: right;
    transform: rotateY(90deg);
}
.a:nth-child(3){
     opacity: 0.5;
      transform-origin: top;
        transform: rotateX(90deg);
}
.a:nth-child(4){
     opacity: 0.5;
     transform-origin: bottom;
        transform: rotateX(-90deg);
}
.a:nth-child(5){
    opacity: 0.5;
    transform: translateZ(100px);
}
.a:nth-child(6){
     opacity: 0.5;
}


.a:nth-child(1) img{
        animation: rot1 2s 1s linear alternate forwards;
}
.a:nth-child(2) img{
        animation: rot2 2s 3s linear alternate forwards;
}
.a:nth-child(3) img{
        animation: rot3 2s 5s linear alternate forwards;
}
.a:nth-child(4) img{
        animation: rot4 2s 7s linear alternate forwards;
}
.a:nth-child(5) img{
        animation: rot5 2s 9s linear alternate forwards;
}
.a:nth-child(6) img{
        animation: rot 2s 11s linear alternate forwards;
}
.box{
    transform-style: preserve-3d;
    animation:rot9 2s 11s linear reverse forwards infinite;
}
@keyframes rot1 {
    from{
        transform-origin: left;
        transform: rotateY(0deg);
    }
    to{
        transform-origin: left;
        transform: rotateY(-90deg);
    }
}
@keyframes rot2 {
    from{
        transform-origin: right;
        transform: rotateY(0deg);
    }
    to{
        opacity: 0.5;
        transform-origin: right;
        transform: rotateY(90deg);
    }
}
@keyframes rot3 {
    from{
        transform-origin: top;
        transform: rotateX(0deg);
    }
    to{
        opacity: 0.5;
        transform-origin: top;
        transform: rotateX(90deg);
    }
}
@keyframes rot4 {
    from{
        transform-origin: bottom;
        transform: rotateX(0deg);
    }
    to{
        opacity: 0.5;
        transform-origin: bottom;
        transform: rotateX(-90deg);
    }
}
@keyframes rot5 {
    from{
        transform: translateZ(0);
    }
    to{
        opacity: 0.5;
        transform: translateZ(100px);
    }
}
@keyframes rot {
    from{
        opacity: 1;
    }
    to{
        opacity: 0.5;
    }
}
@keyframes rot9 {
    from{
        transform-origin: top center;
        transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg);
    }
    to{
        transform-origin: top center;
        transform: rotateX(360deg) rotateZ(360deg) rotateY(360deg);
    }
}