*{
    margin: 0;
    padding: 0;
}
.menu{
    width: 965px;
    height: 126px;
    margin: 0 auto;
    background: url('../img/bg.jpg') no-repeat right bottom;
}
li{
    float: left;
    width: 36px;
    text-align: center;
    list-style: none;
}
ul{
    float: right;
    margin-right: 0;
    margin-top: 55px;
    width: 790px;
    font-size: 12px;
}
li:nth-child(3n+1){
    font-weight: bold;
}
li:nth-child(20){
    color: red;
}

